---
import Layout from 'layouts/Primary.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const content = await getCollection('article')
  return content.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout frontmatter={entry.data}>
  <a href="/articles">Back to articles</a>

  <div class="container">
    <div class="article-body"><Content /></div>
  </div>
</Layout>
