---
import Layout from 'layouts/BaseLayout.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const content = await getCollection('project')
  return content.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
  <p>project layout</p>
  <a href="/">All projects</a>
  <h1>{entry.data.title}</h1>
  <Content />
</Layout>
