@import './reset.css';
@import './typography.css';

:root {
  /* --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  ); */

  --baseline: 1.6;
  --xxs: 0.2;
  --xs: 0.6;
  --s: 0.8;
  --m: 1;
  --l: 1.25;
  --xl: 2;
  --xxl: 3;

  --sp-xxs: calc(var(--xxs) * 1rem);
  --sp-xs: calc(var(--xs) * 1rem);
  --sp-s: calc(var(--s) * 1rem);
  --sp-m: calc(var(--m) * 1rem);
  --sp-l: calc(var(--l) * 1rem);
  --sp-xl: calc(var(--xl) * 1rem);
  --sp-xxl: calc(var(--xxl) * 1rem);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
}

html {
  background-color: #fff;
  color: #000;
}

a {
  color: #b0aaba;
}

html.dark {
  background-color: #0d0b25;
  color: #b0aaba;
}

.dark a {
  color: #fff;
}

@keyframes fadeIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20%);
  }
}
