@import './reset.css';
@import './typography.css';

:root {
  /* --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  ); */
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
}

html {
  background-color: #fff;
  color: #000;
}

a {
  color: #b0aaba;
}

html.dark {
  background-color: #0d0b25;
  color: #b0aaba;
}

.dark a {
  color: #fff;
}

@keyframes fadeIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20%);
  }
}
