---
import Layout from 'layouts/Primary.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const content = await getCollection('lab')
  return content.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout frontmatter={entry.data}>
  <div class="flex flex-row gap-2 w-full justify-between">
    <a class="text-sm" href="/lab">Previous</a>
    <a class="text-sm" href="/lab">Next</a>
  </div>

  <div class="border">
    <Content />
  </div>
</Layout>
