---
import Layout from 'layouts/Primary.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const content = await getCollection('lab')
  return content.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout frontmatter={entry.data}>
  <a href="/lab">Back to lab</a>

  <Content />
</Layout>
