---
import { getEntry, getEntries, getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const blogIntro = await getEntry('blog', 'intro');

---

<h1>{blogIntro.data.title}</h1>

{allPosts.map(p => (
  <a href={`/articles/${p.slug}`}>{p.data.title}</a>
))}