---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('project');

---

<Layout title="Ryen Beatty work!">
	<main>		
		<a href="/articles" data-astro-prefetch>Articles</a>
		<a href="/info" data-astro-prefetch>Info</a>

		<h2>Projects</h2>
		{projects.map(p => <a href={`/project/${p.slug}`} data-astro-prefetch="load">{p.slug}</a>)}
	
	</main>
</Layout>
