---
import { getCollection } from 'astro:content'

const articles = await getCollection('article')
---

<ul class="list-none m-0">
  {
    articles.map((p) => (
      <li>
        <a href={`/writing/${p.slug}`} class="link">
          {p.data.title}
        </a>
      </li>
    ))
  }
</ul>
