---
import { Image } from 'astro:assets'
import Parser from 'rss-parser'
import { LetterboxdFeedType } from 'src/index.enums'

const parser: Parser = new Parser()

const { items } = await parser.parseURL('https://letterboxd.com/ryenbeatty/rss')

const films = items
  .filter((item) => item.guid?.includes(LetterboxdFeedType.Watch))
  .slice(0, 5)
  .map((el) => ({
    ...el,
    img: /src\s*=\s*"(.+?)"/.exec(el.content as string)?.at(1),
  }))
---

<section>
  {
    films.map((film) => (
      <div>
        <p>{film.title}</p>
        {film.img ? (
          <Image
            src={film.img}
            alt={film.title || ''}
            width="400"
            height="400"
          />
        ) : null}
      </div>
    ))
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: var(--sp-m);
  }
</style>
