---
---

<footer class="footer-links">
  <a href="https://linkedin.com/in/ryen-beatty" class="link" rel="me">LinkedIn</a>
  <a href="mailto:hello@ryenbeatty.com" class="link">Email</a>
</footer>

<style>
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
  }
</style>
