---
import Navigation from './Navigation.astro'
---

<header>
  <p><a href="/">Ryen Beatty</a></p>
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
  }

  nav {
    display: flex;
  }
</style>
