---
import Navigation from './Navigation.astro'
---

<header class="flex justify-between items-center">
  <a href="/" class="text-lg">Ryen Beatty</a>
  <Navigation />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
  }

  nav {
    display: flex;
  }
</style>
