---
import { getCollection } from 'astro:content'

const projects = await getCollection('lab')
---

<ul>
  {
    projects.map((p) => (
      <li>
        <a href={`/lab/${p.slug}`} data-astro-prefetch="load">
          {p.data.title}
        </a>
      </li>
    ))
  }
</ul>
