---
import clsx from 'clsx'
import ThemeToggle from './ThemeToggle.svelte'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)

const { variant } = Astro.props
---

<nav class="nav-wrapper">
  <ul class="list-none m-0 py-2 flex flex-row">
    <!-- <li>
      <a
        class={clsx('link', currentPath === '' ? 'active' : '')}
        href="/#work"
        data-astro-prefetch
      >
        Work
      </a>
    </li> -->

    <!-- <li>
      <a
        class={clsx('link', currentPath === 'desk' ? 'active' : '')}
        href="/desk"
        data-astro-prefetch
      >
        Lately
      </a>
    </li> -->

    <!--<li>
      <a
        class={clsx('link', currentPath === 'writing' ? 'active' : '')}
        href="/writing"
        data-astro-prefetch
      >
        Writing
      </a>
    </li> -->

    <li>
      <a
        class={clsx('link', currentPath === 'about' ? 'active' : '')}
        href="/about"
        data-astro-prefetch
      >
        About
      </a>
    </li>
    <div class="theme-toggle-wrap">
      <ThemeToggle client:only="svelte" />
    </div>
  </ul>

  <style>
    .nav-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0;
    }

    li {
      list-style: none;
      padding-right: 15px;
    }

    .theme-toggle-wrap {
      margin-left: auto;
    }

    .active {
      font-weight: bold;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
    }
  </style>
</nav>
