---

---

<ul>
  <li><a href="/about" data-astro-prefetch>About</a></li>
  <li><a href="/portfolio" data-astro-prefetch>Portfolio</a></li>
  <li><a href="/articles" data-astro-prefetch>Writing</a></li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding: 1rem;
  }
  li {
    list-style: none;
    padding-right: 15px;
  }
</style>
