---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<ul>
  <li>
    <a
      class={currentPath === 'about' ? 'active' : ''}
      href="/about"
      data-astro-prefetch>About</a
    >
  </li>
  <li>
    <a
      class={currentPath === 'portfolio' ? 'active' : ''}
      href="/portfolio"
      data-astro-prefetch>Portfolio</a
    >
  </li>
  <li>
    <a
      class={currentPath === 'lab' ? 'active' : ''}
      href="/lab"
      data-astro-prefetch>Lab</a
    >
  </li>
  <li>
    <a
      class={currentPath === 'playlist' ? 'active' : ''}
      href="/playlist"
      data-astro-prefetch>Playlist</a
    >
  </li>
  <li>
    <a
      class={currentPath === 'articles' ? 'active' : ''}
      href="/articles"
      data-astro-prefetch>Writing</a
    >
  </li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding: 1rem 0 1rem 1rem;
  }
  li {
    list-style: none;
    padding-right: 15px;
  }
  .active {
    font-weight: bold;
  }
</style>
