---
import 'styles/global.css'

import CommonHead from 'components/CommonHead.astro'
import Footer from 'components/Footer.astro'
import GridTrailBackground from 'components/GridTrailBackground.astro'

const { frontmatter } = Astro.props
---

<!--
  ᚛ᚈᚆᚔᚄ ᚔᚄ ᚏᚍᚓᚅᚄ ᚃᚓᚁᚄᚔᚈᚓ ᚆᚓ ᚂᚔᚉᚓᚄ ᚄᚓᚐ ᚈᚒᚏᚈᚂᚓᚄ ᚆᚓᚏᚓ ᚔᚄ ᚐ ᚄᚓᚐ ᚈᚒᚏᚈᚂᚓ ᚔᚃ ᚍᚑᚒᚃᚓ ᚇᚓᚉᚑᚇᚓᚇ ᚈᚆᚔᚄ ᚋᚓᚄᚄᚐᚌᚓ ᚚᚂᚓᚐᚄᚓ ᚓᚋᚐᚔᚂ ᚋᚓ ᚐᚈ ᚋᚐᚔᚂᚏᚍᚓᚅᚁᚓᚐᚈᚈᚍᚔᚅᚃᚑ ᚈᚑ ᚌᚓᚈ ᚍᚑᚒᚏ ᚏᚓᚃᚐᚏᚇ᚜

⢸⣷⡦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠙⢿⡪⡑⢤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⠤⠤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠈⠻⣔⣌⠑⠢⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠻⠇⠀⠀⣈⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠙⢻⡦⡀⠉⢢⡀⠀⠀⠀⠀⠀⠀⣼⠒⠦⢄⡀⢻⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢹⣇⠀⠀⢳⡀⠀⠀⠀⠀⡴⠛⠻⠥⣲⣭⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⢇⣠⣴⣖⣾⣦⢤⣀⠀⢨⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣆⣤⣪⠽⠋⠈⣆⠀⠀⠉⠙⣿⡯⡀⢀⡠⠖⠒⠦⢄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⡯⠧⠄⢰⡒⠈⠉⠉⠒⢖⠈⠁⢹⠻⡋⠀⠀⠀⢀⠀⠀⡉⠑⠂⢠⠤⠤⠤⢤⣀
⠀⠀⠀⠀⠀⠀⠀⠀⣜⡹⠀⠀⠀⠀⢣⠀⠀⠀⠀⢀⡵⠤⣈⢳⢧⡴⣲⣼⠭⠵⠮⠙⠛⠛⠛⠛⠚⠙⠛⠛
⠀⠀⠀⠀⠀⠀⠀⣸⡽⠀⠀⠀⠀⢀⠤⠳⠤⣤⠔⠉⠀⠀⠀⠙⣺⡉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣰⢹⠓⠒⠂⢠⡞⠁⠀⠀⠀⠈⢦⡀⠀⠀⠀⠀⣁⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣿⡯⠀⠀⠀⠀⠱⡀⠀⠀⠀⠀⡠⠷⢄⣀⠀⢰⢫⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢿⡇⠀⠀⠀⣠⠔⠚⠒⠢⡖⠋⠀⠀⠀⠈⢉⠶⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢸⡗⠒⠒⡍⠀⠀⠀⠀⠀⢳⣀⡀⠀⠀⢀⣺⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠘⡟⡄⠀⢱⡀⠀⠀⠀⣠⠋⠀⠈⠙⢢⣏⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢠⢿⢧⣠⠞⠋⠓⠒⣞⠁⠀⠀⡠⣴⡵⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣠⠏⢘⣿⢢⠀⠀⠀⠀⣘⣦⣔⡾⠚⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢠⠟⠁⣐⣿⠉⢿⣲⣤⡿⠿⢷⣾⠁⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢿⠀⢰⣿⠃⠀⠀⠉⠀⠀⠀⡞⡿⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠘⣴⡿⠋⠀⠀⠀⠀⠀⠀⣼⣿⠁⠀⢀⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢽⣀⡤⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
 --><!doctype html>
<html lang="en">
  <head>
    <CommonHead
      title={frontmatter?.title}
      description={frontmatter?.description}
    />
  </head>

  <body class="flex flex-col min-h-screen max-w-screen-xl mx-auto px-4 sm:px-6">
    <GridTrailBackground />
    <div class="grow relative z-[1]">
      <slot />
    </div>

    <Footer />
  </body>
</html>
